{%  extends "base.html" %}


{% block content %}



<div id="conteudo">

    
            
    <form class="perfil" action="/excluirperfil" method="POST">
        <h2>Insira o email do perfil a ser deletado</h2>
        <br>

        {% with mensagens = get_flashed_messages() %}
            {% if mensagens %}
                <div>
                    <ul>
                        {% for msg in mensagens %}
                            <li class="message">{{ msg }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <input type="email" name="email" placeholder="Usuário/Email"/>
        <br>
        <br>
        <input type="submit" name="acao" value="Deletar" />
        

    </form>
    
</div>




{% endblock %}