{%  extends "base.html" %}


{% block content %}

<a href="/excluirperfil" >Excluir Perfil</a>

<div id="conteudo">

    
            
    <form class="perfil" action="/perfil" method="POST">
        <h2>Perfil</h2>
        <br>

        {% with mensagens = get_flashed_messages() %}
            {% if mensagens %}
                <div>
                    <ul>
                        {% for msg in mensagens %}
                            <li class="message">{{ msg }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <input type="email" name="email" placeholder="Usuário/Email"/>
        <input type="password" name="senha_antiga" placeholder="Digite sua senha antiga"/>
        <input type="password" name="senha" placeholder="Digite sua senha nova"/>
        <input type="submit" name="acao" value="Alterar" />
        
        
        

    </form>
    
</div>




{% endblock %}