{%  extends "base.html" %}



{% block content %}
<li><a href="{{ url_for('listaprodutos')}}">Lista Produtos</a></li><br>
<li><a href="{{ url_for('deleteproduto')}}">Deleta Produtos</a></li>

<div id="conteudo">
    
    <form class="form" action="/produtos" method="post">
        <h2>Cadastro de Produtos</h2>
        <br>
        <input type="text" name="tipo_produto" placeholder="Digite o Tipo de Produto" >
        <input type="text" name="nome_produto" placeholder="Nome do Produto..."/>
        <input type="text" name="editora" placeholder="Editora..."/>
        <input type="text" name="preco" placeholder="Preço..."/>
        
        <input type="submit" name="acao" value="Enviar" />        
    </form>
    

</div>


{% endblock %}